modules = ["cpp-clang20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Program"

[[workflows.workflow]]
name = "Run Program"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "clang++ -std=c++17 -o main main.cpp && ./main"

[workflows.workflow.metadata]
outputType = "console"
